.recommended-friends {
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: var(--main-border);
    border-bottom: var(--main-border);
}
.recommended-friends__title {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
.recommended-friends span {
    margin: 100px 0px;
    display: block;
    text-align: center;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
}

.open-chat__header {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 20px;
}
.open-chat__header span {
    opacity: 0.5;
}

.open-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.open-post__title {
    font-weight: 600;
    margin-bottom: 10px;
}
.open-post__hashtags {
    text-transform: uppercase;
    opacity: 0.6;
}
.open-post__members {
    display: flex;
    align-items: center;
    margin-top: 7px;
}
.open-post__members img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.open-post__member-count {
    opacity: 0.5;
    font-size: 14px;
}
.open-post__members .divider{
    width: 1px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px 5px;
}
.open-post__member-status {
    color: #ffb0be;
}
.open-post__photo {
    position: relative;
}
.open-post__photo img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.open-post__heart-cnt {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.open-post__heart-cnt i {
    color: white;
}
.open-post__heart-cnt span {
    color: white;
    margin-left: 4px;
}