.alt-header {
    padding: var(--horizontal-space);
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__title {
    font-size: 28px;
    font-weight: 600;
}

.alt-header__column:first-child {
    margin-right: 33%;
}
.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.alt-header__column:last-child > span:first-child {
    margin-right: 10px;
}